<ion-split-pane>
  <ion-menu contentId = "content"> 
    <ion-content >
        <ion-row padding> 
            <ion-col size="4">
                    <ion-avatar>
                      <img src="assets/icon/hombre.svg">
                    </ion-avatar> 
            </ion-col>
            <ion-col size="8">
              <h4>Rodrigo Velosa</h4>
              <h6>Estado: Activo</h6>
            </ion-col>
          </ion-row>
      <ion-list>
        <ion-menu-toggle auto-hide ="false" *ngFor="let p of pages">
            <ion-item lines ="" [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)" >
                <ion-icon src= {{p.icon}} slot="start"></ion-icon>
                <ion-label>{{p.title}} </ion-label>
            </ion-item>
        </ion-menu-toggle>
        <ion-item lines ="none" tappable routerLink="/login" routerDirection="root">
          <ion-icon src="assets/icon/cancelar.svg" slot="start" ></ion-icon> 
            Salir
        </ion-item>
      </ion-list>
    </ion-content>

  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>